html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {background: url(linen.jpg) repeat; font-size: 62.5%; font-family: Helvetica, sans-serif; }
#tdddApp {width: 100%; }
#tdddApp ul {/*border-right: 0.2em dashed yellow;*/}
#tdddApp ul:last-child {border-right: none;}
#tdddApp ul h2 {font-size: 2em; margin: 0.5em; text-align: center; font-variant: small-caps; color:White; background-color: rgba(255, 255, 255, 0.1);}
#tdddApp ul li.sticky {position: relative; width: 10em; height: 10em; float: left; margin: 1em; padding: 0 0.6em 0.6em 0.6em; box-shadow: 5px 5px 7px rgba(33,33,33,.7);font-size: 1em;}
li.ui-state-highlight {position: relative; width: 10em; height: 10em; float: left; padding: 0.6em; font-size: 1em; margin:1em; border: 0.2em dashed white; }
#todo-list, #doing-list, #done-list {width:33%; display: inline-block; float: left;}
#tdddApp ul li:nth-child(even){-o-transform:rotate(4deg); -webkit-transform:rotate(4deg); -moz-transform:rotate(4deg); }
#tdddApp ul li:nth-child(3n){-o-transform:rotate(-3deg); -webkit-transform:rotate(-3deg); -moz-transform:rotate(-3deg);}

#tdddApp ul li h3 {height:90%; font-size:1.8em; line-height:1.2em; font-family:"Handlee", cursive;}

.sticky .toolbar:hover .color-picker {visibility: visible;}
.sticky .toolbar .color-picker{visibility: hidden;}
.toolbar {cursor: move; height:1em;}
.toolbar .color-picker {float:left; display: inline-block; cursor: default; height:0.6em;}
.color-picker li {float:left; margin-top: 2px; width:1em; height:0.6em; display:inline-block}
.color-picker li:hover {border-top:2px solid black; margin-top: 0px}
.color-picker li.color-yellow{background-color: #feea3d;}
.color-picker li.color-blue{background-color: #89f0ff;}
.color-picker li.color-green{background-color: #83fe83;}
.color-picker li.color-pink{background-color: #ffb2b2;}
.color-picker li.color-purple{background-color: #9bb6fe;}
.color-picker li.color-grey{background-color: #dadada;}
li.sticky textarea {width: 94%; height: 90%; margin-top:0.5em; border-color: #899BC1; resize:none; background-color: rgba(255,255,255,0.6);}

.sticky.yellow{background-color: #fef49c;}
.sticky.blue{background-color: #adf4ff;}
.sticky.green{background-color: #b2ffa1;}
.sticky.pink{background-color: #ffc7c7;}
.sticky.purple{background-color: #b6caff;}
.sticky.grey{background-color: #eeeeee;}


